body {
  /* background-color: rgb(231, 231, 231); */
  background-image: url("images/fancy-cushion.png");
 
}

.card {
  /* box-shadow: 5px 5px 5px; */
  /* background-color: rgb(241, 160, 187); */
  border: none;
}

input[type="text"],
input[type="name"],
input[type="number"],
#ArthurApproved,
#JulieApproved {
  background-color: rgb(233, 233, 233);
}
form,
#grey {
  background-color: rgb(241, 160, 187);
}

.card-header {
	color: rgb(255, 246, 168);
	  background-color: rgb(194, 25, 81);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-family: "Great Vibes", cursive;
  letter-spacing: 4px;
}

.nameHighlight {
  background-color: red;
}

.julieHighlight {
  background-color: #ff9f9f;
}

.artHighlight {
  background-color: rgb(255, 83, 212);
}

#topBG {
  background-image: url("images/wineGlasses.jpg");
  background-position: 46% 56%;
  text-align: center;
  /* box-shadow: 5px 5px 5px; */
}
#wineName,
#wineType {
  text-transform: capitalize;
}

#shadow {
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
.wineTime {
  font-family: "Lobster", cursive;
  letter-spacing: 4px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #theTR {
    display: none;
  }
  tr {
    border: 3px solid rgb(36, 36, 36);
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    background-color: #afafaf;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */

    left: 6px;

    padding-right: 10px;
    white-space: nowrap;
  }
  * {
    text-align: right;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Brand";
  }
  td:nth-of-type(2):before {
    content: "Type";
  }
  td:nth-of-type(3):before {
    content: "Year";
  }
  td:nth-of-type(4):before {
    content: "Description";
  }
  td:nth-of-type(5):before {
    content: "Arthur Approved";
  }
  td:nth-of-type(6):before {
    content: "Julie Approved";
  }
  td:nth-of-type(7):before {
    content: "Price";
  }
}
.smallNameHighlight {
  background-color: red;
}
.smallArtHighlight {
  background-color: rgb(255, 83, 212);
}
.smallJulieHighlight {
  background-color: #ff9f9f;
}
.tooltip-test {
	text-align: center;
	color: rgb(255, 246, 168);
}
